@{
    ViewData["Title"] = "Órdenes de Trabajo";
}
@model IEnumerable<Ordenes>
@{
    Layout="_LayoutCInt";
}

<div style="margin-top: 15px;">
    <ul class="nav nav-tabs dark">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-controller="Ordenes" asp-action="Index">ÓRDENES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Facturas" asp-action="Index">FACTURAS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Recibos" asp-action="Index">RECIBOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Cuentas" asp-action="Index">CTA. CTES.</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Cliente" asp-action="Index">CLIENTES</a>
        </li>
    </ul>
</div>



<div class="row">
    <div class="col-lg-11">
        <table class="table table-hover" style="margin-top: 35px;">
            <thead>
                <tr>
                        <th style="text-align: center;">
                            @Html.DisplayNameFor(model=> model.id)
                        </th>
                        <th style="text-align: center;">
                            @Html.DisplayNameFor(model=> model.fec_rec)
                        </th>
                        <th colspan="2" style="text-align: center;">
                            @Html.DisplayNameFor(model=> model.razon_social)
                        </th>
                        <th style="text-align: center;">
                            @Html.DisplayNameFor(model=> model.contenido)
                        </th>
                        <th colspan="2" style="text-align: center; font-weight: bold;">
                            Opciones
                        </th>
                </tr>
            </thead>            
            <tbody>
                @foreach (var ordenes in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(ModelItem=> ordenes.id)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem=> ordenes.fec_rec)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem=> ordenes.cod_cliente)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem=> ordenes.razon_social)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem=> ordenes.contenido)
                        </td>
                        <td>
                            <form action="Edit" method="post">
                               <input type="hidden" name="Id" value="@ordenes.id">
                               <button class="btn btn-warning" style="text-align: center;">Editar</button>
                           </form>
                        </td>
                        <td>
                            <form action="Anular" method="post">
                               <input type="hidden" name ="Id" value="@ordenes.id">
                               <button class="btn btn-danger" style="text-align: center;">Anular</button>
                           </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-1">
        <form action="" method="post">
            <table style="text-align: center;">
                <tr>
                    <td>
                        <a asp-controller="Ordenes" asp-action="Nuevo"><button style="margin-top: 45px;" type="button" class="btn btn-info">NUEVO</button></a>
                    </td>                    
                </tr>
            </table>
        </form>
    </div>
</div>